.add {
  display: flex;
  width: 90%;
  margin: 1% 0% 2% 0%;
  background-color: #1a1a1a;
  color: white;
  border: none;
  font-size: 2vw;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.add:disabled {
  background-color: #e5e5e5;
  color: black;
}
