.type {
  display: flex;
  flex-basis: 10%;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #333333;
  height: 60%;
  width: 10%;
  color: white;
  font-size: 1vw;
  border-right: 5px;
  border-right-style: solid;
  border-right-color: #4d4d4d;
}
