.index {
  display: flex;
  flex-basis: 10%;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #4d4d4d;
  height: 100%;
  width: 10%;
  color: white;
  font-size: 1vw;
  border-right: 5px;
  border-right-style: solid;
  border-right-color: #333333;
}

.ip {
  border-right-color: #ff6600;
}
.halt {
  border-right-color: #ff2200;

}
