#open {
  width: 10%;
  height: 100%;
  padding: 0;
  border-bottom: 5px;
  border-style: none none solid none;
  border-bottom-color: #00d000;
  color: white;
  background-color: #1a1a1a;
  font-size: 1.5vw;
}

#open:active {
  background-color: #333333;
  border-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: #00ff00;
}
