#savelink {
  width: 10%;
  height: 100%;
}
#save {
  width: 100%;
  height: 100%;
  padding: 0;
  border-bottom: 5px;
  border-style: none none solid none;
  border-bottom-color: #d06600;
  color: white;
  background-color: #1a1a1a;
  font-size: 1.5vw;
}

#save:active {
  background-color: #333333;
  border-right: 5px;
  border-style: none none solid none;
  border-bottom-color: #ff6600;
}
